<section>
<table>
    <caption>Attributes</caption>
    <tr>
        {{#each data.system.Attributes as |value name|}}
        <th>
            {{name}}
        </th>
        {{/each}}
    </tr>
    <tr>
        {{#each data.system.Attributes as |value name|}}
        <td>
            <input name="system.Attributes.{{name}}" "type="number" value={{this}} item-dtype="Number" label="{{name}}" />
        </td>
        {{/each}}
    </tr>
</table>
<table>
    <caption>Expertises</caption>
        {{#each data.system.Expertises as |value name|}}
        <tr>
        <th>
            {{name}}
        </th>
        <td>
            <input name="system.Expertises.{{name}}.value" "type="number" value={{this.value}} item-dtype="Number" label="{{name}}" />
        </td>
        </tr>
        {{/each}}
</table>
<table>
    <caption>Vocations</caption>
        {{#each data.system.Vocations as |voc name|}}
        <br/>
        <table>
                <tr>
                    <th>Vocation name:</th>
                    <td>
                        <input name="system.Vocations.{{name}}.name" type="text" value="{{this.name}}" />
                    </td>
                </tr>
                <tr>
                    <th>Level</th>
                    <td>
                        <input name="system.Vocations.{{name}}.level" type="number" value="{{this.level}}">
                    </td>
                </tr>
                <tr>
                    <td>Uses strength:</td>
                    <td>
                        <input name="system.Vocations.{{name}}.uses_strength" type="checkbox" {{checked this.uses_strength}} />
                    </td>
                </tr>
                <tr>
                    <td>Uses reflexes:</td>
                    <td>
                        <input name="system.Vocations.{{name}}.uses_reflexes" type="checkbox" {{checked this.uses_reflexes}} />
                    </td>
                </tr>
                <tr>
                    <td>Uses intelligence:</td>
                    <td>
                        <input name="system.Vocations.{{name}}.uses_intelligence" type="checkbox" {{checked this.uses_intelligence}} />
                    </td>
                </tr>
                <th>Skills</th>
                <tr>
                    <td>
                        <input name="system.Vocations.{{name}}.skill1.name" type="text" value="{{this.skill1.name}}" placeholder="skill name"/>
                    </td>
                    <td>
                        <input name="system.Vocations.{{name}}.skill1.level" type="number" value="{{this.skill1.level}}" placeholder="skill level"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input name="system.Vocations.{{name}}.skill2.name" type="text" value="{{this.skill2.name}}" placeholder="skill name"/>
                    </td>
                    <td>
                        <input name="system.Vocations.{{name}}.skill2.level" type="number" value="{{this.skill2.level}}" placeholder="skill level"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input name="system.Vocations.{{name}}.skill3.name" type="text" value="{{this.skill3.name}}" placeholder="skill name"/>
                    </td>
                    <td>
                        <input name="system.Vocations.{{name}}.skill3.level" type="number" value="{{this.skill3.level}}" placeholder="skill level"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input name="system.Vocations.{{name}}.skill4.name" type="text" value="{{this.skill4.name}}" placeholder="skill name"/>
                    </td>
                    <td>
                        <input name="system.Vocations.{{name}}.skill4.level" type="number" value="{{this.skill4.level}}" placeholder="skill level"/>
                    </td>
                </tr>
            </table>

        {{/each}}
</table>
</section>