<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" item-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}"/></h1>
    </header>
    <div>
        <table>
            <tr>
                <th>Level</th>
                <td>
                    <input name="system.level" type="number" value="{{item.system.level}}">
                </td>
                <tr>
                    <td>Uses strength:</td>
                    <td>
                        <input name="system.uses_strength" type="checkbox" {{checked item.system.uses_strength}} />
                    </td>
                </tr>
                <tr>
                    <td>Uses reflexes:</td>
                    <td>
                        <input name="system.uses_reflexes" type="checkbox" {{checked item.system.uses_reflexes}} />
                    </td>
                </tr>
                <tr>
                    <td>Uses intelligence:</td>
                    <td>
                        <input name="system.uses_intelligence" type="checkbox" {{checked item.system.uses_intelligence}} />
                    </td>
                </tr>
            </tr>
        </table>
        <table>
            <caption>Vocational skills</caption>
            <tr>
                <th>
                    Skill name
                </th>
                <th>
                    Skill level
                </th>
            </tr>
            <tr>
                <td>
                    <input name="system.skill1.name" type="text" value="{{item.system.skill1.name}}" />
                </td>
                <td>
                    <input name="system.skill1.level" type="text" value="{{item.system.skill1.level}}" />
                </td>
            </tr>
            <tr>
                <td>
                    <input name="system.skill2.name" type="text" value="{{item.system.skill2.name}}" />
                </td>
                <td>
                    <input name="system.skill2.level" type="text" value="{{item.system.skill2.level}}" />
                </td>
            </tr>
            <tr>
                <td>
                    <input name="system.skill3.name" type="text" value="{{item.system.skill3.name}}" />
                </td>
                <td>
                    <input name="system.skill3.level" type="text" value="{{item.system.skill3.level}}" />
                </td>
            </tr>
            <tr>
                <td>
                    <input name="system.skill4.name" type="text" value="{{item.system.skill4.name}}" />
                </td>
                <td>
                    <input name="system.skill4.level" type="text" value="{{item.system.skill4.level}}" />
                </td>
            </tr>
        </table>
    </div>
</form>
