<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" item-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}"/></h1>
    </header>
    <div>
        <table>
            <tr>
                <th>{{localize "cogentXrosba.weapon.attack"}}</th>
                <th>{{localize "cogentXrosba.weapon.pierce"}}</th>
                <th>{{localize "cogentXrosba.weapon.dualwields"}}</th>
            </tr>
            <tr>
                <td>
                    <select name="system.weaponType">
                        {{#select item.system.weaponType}}
                        {{#each config.weaponTypes as |name type|}}
                        <option value="{{type}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
                <td>
                    <input name="system.pierce" type="number" value="{{item.system.pierce}}" item-dtype="Number" />
                </td>
                <td>
                    <input name="system.dualwields" type="checkbox" {{checked item.system.dualwields}} />
                </td>
            </tr>
        </table>
    </div>
</form>
